* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 200px auto;
}

.left {
    background: #21636b;
    height: 100vh;
    text-align: center;
}

.left a {
    color: #fff;
}

a:hover {
    color: yellow;
}

.logo {
    padding: 10px 0 0 0;
    margin: 0 auto;
    width: 140px;
}

.logo p {
    font-family: sans-serif;
    text-align: center;
    background: #ce0000;
    font-size: 24px;
    line-height: 22px;
}

.logo img {
    background: #fff;
    width: 140px;
}

.search {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
}

.search input {
    width: 90%;
}

.left .search+a:nth-child(4) {
    color: #5bcefb;
    font-size: 26px;
}

.mainTutorials {
    margin: 15px 0 0 5px;
    width: 100%;
    text-align: left;
    display: inline-grid;
}

.mainTutorials span {
    font-weight: bold;
    color: #ffce08;
    margin-top: 10px;
}

.mainTutorials span~a {
    margin-left: 5px;
}

.mainTutorials a:nth-child(8) {
    margin-top: 25px;
}

.right {
    margin-left: 35px;
    font-size: 20px;
}

.contentTitle {
    padding: 20px 0 20px 0;
    line-height: 55px;
}

.contentTitle p:nth-child(odd) {
    color: #296b63;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.contentTitle p:nth-child(3) {
    padding-left: 315px;
}

.contentTitle p:nth-child(even) {
    color: #cecece;
    font-size: 100px;
    font-weight: bold;
    text-decoration: underline;
}

.content ul li {
    list-style-type: circle;
}