button:visited {
    border: none;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#student_list_wrapper {
    padding: 1em;
    background-color: rgba(11, 238, 22, 0.753);
}

#student_grade_wrapper {
    padding: 1em;
    background-color: rgba(54, 11, 245, 0.575);
    width: 48.5vw;
    height: 100vh;
    margin: 0!important;
}

#name, #grade {
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
    background-color: rgba(119, 128, 0, 0);
    margin-top: 2em;
}

#addStudentBtn, .cool-btn {
    border: 1px solid rgba(128, 128, 128, 0.589);
    color: rgba(1, 37, 4, 0.918);
    background-color: transparent;
    border-radius: 1rem;
}

#addGradeBtn, #hideBtn {
    border: 1px solid rgba(114, 104, 104, 0.322);
    color: rgba(17, 1, 16, 0.794);
    background-color: transparent;
    border-radius: 1rem;
}

.students {
    float: left;
    width: 100%;
    height: 100vh;
}

.grades {
    float: right;
}

.toggle {
    display: none;
}

.resize {
    width: 46.816vw!important;
}

#sthead>tr>th, #studentsList>td {
    padding: 2ex;
    text-align: center;
}

td {
    text-align: center;
}
