* {
    margin: 0px;
    padding: 0px;
}

.sidemenu {
    display: grid;
    grid-template-columns: 13% 100% 30%;

    
}
    
.sidemenu > div {
    background: rgb(238, 238, 238);
    padding: 10px;
    height: 955px;
    color: black;
    
}
.sidemenu > div:nth-child(odd) {
    background: #197678;
    padding: 20px;
    
}
.img-book {
    width: 200px;
    padding: 0px;
    margin: 0px;
        
}
.linia-1 {
    width: 200px;
    font: caption;
    font-family: Tahoma;
    text-decoration: underline;
    font-size: 25px;
    margin: -10px 27px 100px;
    color: white;
}

.menusite {
    
    font-family: Tahoma;
    text-decoration: underline;
    font-size: 20px;
    margin: 10px;
    
    list-style: none;
    text-align: left;
    text-decoration: none;
}
.menusite p {
    font-size: 23px;
    width: 215px;
    color:  #FFC13B;
    margin: -5px;
    
    
}

.menusite li {
    color: white;
}

.search-1 {
    height: 120px;   
    margin: -50px;
    text-align: center;
}
input {
    width: 200px;
    height: 25px;
    border: 1px solid rgb(50, 53, 54);
    border-radius: 3px;
    margin: 0px;

}
.linia-2 {
    font: arial;
    font-family: tahoma;
    text-decoration: none;
    font-size: 20px;
    margin: 2px;
    color: white;
}
.linia-3 li {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: 30px;
    font-size: 20px;
    
    
    
}
.submit {
    font-family: Verdana;
    width: 100px;
    height: 20px;
    margin: 0px 50px 20px;
    background-color: rgb(22, 22, 22);
    color: #FFFFFF;
}

.mainsite {
   text-align: left;
   font-size: 24px;
   
   
   
}

.mainsite p {
    text-align: left;
    font-size: 25px;
    margin: 40px;

    
 }

 .mainsite li p {
    text-align: left;
    font-size: 25px;
    
    

 }
 ul {
    
    list-style: none;
    
   
    
 }
 


.titlu {
    margin:0px 30px 54px;
    width: 1000px;
    height: 300px;

}
a { color: white; 
}


h3 {
    font-size: 40px;
    color: #197678;
    margin: 10px;
    font-style: italic;
    letter-spacing: -2px;
    text-indent: 635px;
    
    
    
    
}
h1 {
    font-family: "keepkalm";
    margin: -40px auto;
    
    
    font-weight: bold;
    font-size: 200px;
    font-weight: 100;
    text-align: left;
    text-decoration: underline;
    font-style: italic;
    text-indent: 50px;
    letter-spacing: -10px;
    
    text-shadow: black;
    color: #cccccc;
    
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color:#197678;
    font-style: italic;
    text-indent: 80px;
    letter-spacing: -5px;
}


.text3 {
    text-indent: 50px;
    margin: 0px;
    
}
