* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  color:dodgerblue;
  margin-top:30px;
}

body {
  text-align: center;
}

p {
  margin-bottom: 10px;
}

form {
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  -webkit-box-shadow: 10px 10px 15px -1px rgba(59,89,152,0.85);
  -moz-box-shadow: 10px 10px 15px -1px rgba(59,89,152,0.85);
  box-shadow: 10px 10px 15px -1px rgba(59,89,152,0.85);
}

.input {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
}

#nume {
  margin: 5px 10px 5px 0;
}

#prenume {
  margin: 5px 10px 5px 0;
}

#telefon {
  margin: 5px 10px 5px 0;
}

input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid grey;
  width: 250px;
}

#submit {
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

#submit:hover {
  background-color: royalblue;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

td {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  font-size: 20px;
}

th {
  padding: 5px;
  font-size: 25px;
  background-color: dodgerblue;
  color: white;
  font-weight: 100;
}

tr:nth-child(even) {
  background-color: lightgray;
  color: white;
}

@media (max-width: 800px) {
  input {
    margin: 10px 0;
  }

  form {
    flex-direction: column;
    align-items: stretch;
  }
}

.selected {
  background-color: rgb(98, 98, 245);
  border:3px solid;
}
