* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
}

body {
  height: 100%;
}

header {
  text-align: left;
}

nav {
  margin: 0 auto;
  padding: 8px 0 8px 0;
  background-image: linear-gradient(
    to bottom,
    #181716,
    #2a2727,
    #393433,
    #453f3d,
    #57504d
  );
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 2px solid white;
  box-shadow: 0px 3px 15px black;
  z-index: 1;
}

nav a {
  padding: 8px 3px 8px 3px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: rgb(247, 163, 84);
  transition: 0.5s all ease-in-out;
}

.logo {
  position: absolute;
  width: 100px;
  left: 15px;
  margin-top: 15px;
}

section img {
  width: 100%;
  height: calc(100vh - 45px);
}

section div.info {
  position: absolute;
  background: rgba(0, 0, 0, 0.589);
  bottom: 50px;
  right: 50px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.descriere {
  width: 100%;
  margin: 0 auto;
}

section p {
  width: 1080px;
  margin: 0 auto;
  text-align: justify;
  padding: 10px 0 10px 0;
}

footer {
  position: absolute;
  bottom: 12px;
  left: 5px;
}
