html, body {
    height: 100%;
}
* {
    font-family: serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    
    background: #f0f0f0;
    border: 1px dotted #d0d0d0;
    padding: 5px;
    margin: 5px;


}

#title {
    font-size: 48px;
    font-weight: unset;
}
/* Idont get why the title looks bold */

.wrapper {
    display: grid;
    grid-template-columns: 200px auto;
}

.menuleft {
    display: inline-grid;
    margin-top: 8px;
    display: inline-grid;
    height: 170px;
}

.menuleft a {
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 25px 6px 25px;
    margin:0 0 7px 10px;
    background-image: linear-gradient(to bottom, rgb(216, 216, 216), white);
}

article h1{
    font-size: 36px;
}

article {
    font-size: 18px;
    border-bottom: 1px solid grey;
    line-height: 1.5;
    padding-bottom: 20px;
}

article ul {
    margin-top: 10px;
}

article ul li {
    margin-top: 10px;
    
}

article ul li a {
    color: purple;
}

article ul li a:active {
    color: red;
}

.poetImg {
    float: left;
    padding: 8px 40px 5px 0;
}

.poetBasic {
    padding-bottom: 150px;
}

/* .poetMorestaff {
    margin-bottom: 100px;
} */

footer {
    font-size: 10px;
    margin: 15px 0 0 200px;
    width: 100%;
    display: grid;
}

footer a {
    color: purple;
}