#divLayout div {
    border: 1px solid gray;
    margin: 1px;
}
#bodyContainer {
    /* width: 100%; */
    height: 22px;
}

#bodyLeft {
    float: left;
    width: 49%;

}

#bodyRight {
    float: left;
    width: 49%;

}

#footer {
    clear: both;
}